<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			I'm currently updating this side. This is from _sidebar.html!
		</p>
	</div>

  <img class="b30" src="https://upload.wikimedia.org/wikipedia/commons/6/68/Laniarius_ferrugineus00.jpg" alt="">


	<div class="border-dotted radius b30">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Lobotos_oriolinus_by_Henrik_Gr%C3%B6nvold.jpg/1920px-Lobotos_oriolinus_by_Henrik_Gr%C3%B6nvold.jpg" alt="cuckooshrike">
		<p class="text-left">
			Cuckooshrikes are cool, here's one I haven't seen.
		</p>
	</div>
</aside>